/.idea/
/.settings/
/.classpath
/.project
/origami.iml

/origami-admin/.classpath
/origami-admin/.project
/origami-admin/.settings/
/origami-admin/target/
/origami-admin/origami-admin.iml

/origami-common/.classpath
/origami-common/.project
/origami-common/.settings/
/origami-common/target/
/origami-common/origami-common.iml

/origami-config/.classpath
/origami-config/.project
/origami-config/.settings/
/origami-config/target/
/origami-config/origami-config.iml

/origami-core/.classpath
/origami-core/.project
/origami-core/.settings/
/origami-core/target/
/origami-core/origami-core.iml

/origami-filter/.classpath
/origami-filter/.project
/origami-filter/.settings/
/origami-filter/target/
/origami-filter/origami-filter.iml

/origami-registry/.classpath
/origami-registry/.project
/origami-registry/.settings/
/origami-registry/target/
/origami-registry/origami-registry.iml

/origami-registry/origami-registry-adapter/.classpath
/origami-registry/origami-registry-adapter/.project
/origami-registry/origami-registry-adapter/.settings/
/origami-registry/origami-registry-adapter/target/
/origami-registry/origami-registry-adapter/origami-registry-adapter.iml

/origami-registry/origami-registry-common/.classpath
/origami-registry/origami-registry-common/.project
/origami-registry/origami-registry-common/.settings/
/origami-registry/origami-registry-common/target/
/origami-registry/origami-registry-common/origami-registry-common.iml

/origami-registry/origami-registry-eureka/.classpath
/origami-registry/origami-registry-eureka/.project
/origami-registry/origami-registry-eureka/.settings/
/origami-registry/origami-registry-eureka/target/
/origami-registry/origami-registry-eureka/origami-registry-eureka.iml

/origami-registry/origami-registry-nacos/.classpath
/origami-registry/origami-registry-nacos/.project
/origami-registry/origami-registry-nacos/.settings/
/origami-registry/origami-registry-nacos/target/
/origami-registry/origami-registry-nacos/origami-registry-nacos.iml

/origami-start/.classpath
/origami-start/.project
/origami-start/.settings/
/origami-start/target/
/origami-start/origami-start.iml
